body{
    background-image: url(../images/UNEP2.png);
    background-size: cover;
    height: 100%;

}

.navbar{
    font-family: 'Sofia', cursive;
    font-weight: bold;
    color: darkblue !important;
    background: transparent !important;
}

.navbar li a{
    color: rgb(158, 197, 248) !important;
    font-size: 18px;
    margin-right: 12px;

}

.navbar li a:hover{
    color: rgb(233, 233, 240) !important;
    font-size: 18px;
    margin-right: 12px;

}

.nav-span{
    color: rgb(120, 223, 226);
}

.dropdown-menu{
    background-color: rgb(7, 58, 59);
}

.dropdown-menu li a:hover{
    background-color: rgb(7, 58, 59);
}

.navbar .btn{
    color: white !important;
    font-size: 20px;
}

.navbar-brand{
    color: white !important;
}


/* INDEX */
.index{
    background-size: cover;
}


.index>.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-size: cover;

}

.index>.row>.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: rgba(206, 205, 214, 0.3);


}

.index .row .text{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 249, 250, 0.2);
    font-size: 5em;
    text-align: center;
    font-weight: bold ;
    line-height: 1.5;
    color: rgb(59, 127, 216);

    

}

/* LOGIN */

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    
}

.login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(203, 214, 216, 0.4);
    height: 70%;

}
.microsoft-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(216, 214, 194);
    font-size: 18px;
    font-weight: bold;
}

.alert{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(22, 20, 20, 0.4);
}

.alert-danger{
    color: red !important;
}

.alert-success{
    color:green !important;
}

.login-error{
    color: red;
}

.button{
    display: flex;
    justify-content: center;
}

.button button{
    width: 80%;
    border-radius: 5px;
    background-color: rgba(20, 3, 68, 0.4);
    border: none;
}


/* HOME */
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}


.home .h-details{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(151, 147, 202, 0.3); */
    height: 70vh;
    background-image: linear-gradient(rgba(10, 13, 20, 0.7),rgba(9, 3, 29, 0.8)),url(../images/J6.jpeg);
    background-size: cover;



}

.home .h-details .card{
    margin: 5px;
    background-color: rgba(10, 9, 12, 0.4) !important;
    height:35vh;
    width: 30vh;
    box-shadow:  0 4px 8px 0 rgba(158, 181, 223, 0.7);

}
.card:hover{
    filter:drop-shadow(8px 8px 10px rgba(17, 96, 175, 0.7));

}


.home .h-details .row{
    display: flex;
    justify-content: center;
    
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body h1{
    font-size: 80px;
    font-weight: bold;
    color: rgb(97, 107, 245);

}

.card-footer{
    display: flex;
    justify-content: center;
}


/* AGREEMENTS */
.agreements{
    display: flex;
    justify-content: center;

}

.agreements-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    background-image: linear-gradient(rgba(49, 93, 122, 0.5),rgba(3, 41, 39, 0.5)),url(../images/J6.jpg);
    background-size: cover;
    height: 80vh;


}

.message-success p{
    color: green;
    font-size: 16px;
    font-weight: bold;

}

.message-error p{
    color: red;
    font-size: 16px;
    font-weight: bold;

}

.agreements-list img {
    filter: grayscale(100%);
  }

.agreements-list h5{
    color: white;
    margin-top: 3px;
}

.publish{
    background-color: rgb(56, 146, 149);
    border: none;
    color: white;
}

.publish:hover{
    background-color: rgb(37, 176, 197);
}

.modal-content{
    background-color: rgba(10, 13, 58, 0.8) !important;
    color: white;
}

.btn-close{
    background-color: white !important;


}

.upload-btn{
    width: 100%;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 97%;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }


  th {
    color: white;

  }

  table input {
      font-size: 15px;
      color: rgb(70, 67, 67) !important;


  }

  table input::placeholder{
      font-size: 18px;
      color: rgb(70, 67, 67) !important;
  }

 
  
  tr:nth-child(even) {
    background-color: rgba(226, 226, 235, 0.7) !important;
}

tr:nth-child(odd) {
 color: white !important;
}

  table button{
      width: 90%;
      color: white !important;
  }

  table .view{
    background-color: rgb(49, 39, 197);
  }

  table button:hover{
      background-color: rgb(10, 121, 110) !important;
      border: none;
}


/* SINGLE AGREEMENT */
.single-agreement{
    display: flex;
    justify-content: center;
}

.agreement-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.agreement-details h5{
    color: white;
}

.agreement{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(185, 192, 197, 0.3);
    color: white;

}

.agreement .description{
    margin: 2%;
    background-color: rgba(8, 9, 10, 0.5);
    width: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
 
}

.agreement .description h6{
    color: rgb(158, 197, 248) !important;

}

.fa{
    font-size: 50px;
    color: rgba(146, 164, 190, 0.5);

}

.fa:hover{
    color: rgba(78, 127, 202, 0.5);
    
}

span{
    font-weight: bold;

}

/* AGREEMENT UPDATE */
.agreement-update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(49, 93, 122, 0.3),rgba(3, 41, 39, 0.4)),url(../images/J6.jpg);
    color: white;

}

.agreement-update-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(9, 47, 56, 0.2);


}




/* INVENTORY */
.inventory{
    display: flex;
    justify-content: center;

}

.inventory-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    background-image: linear-gradient(rgba(20, 70, 104, 0.5),rgba(3, 41, 39, 0.5)),url(../images/J4.jpg);

    /* background-image: url(../images/J4.jpg); */
    background-size: cover;
    height: 80vh;


}

.btn-update{
    background-color: rgb(37, 3, 61);
}

.inventory-list h5{
    margin-top: 3px;
    color: white;
}

